@model IEnumerable<BH.viewmodel.shoppingviewmodel>

@{
    ViewBag.Title = "Index";
}
<!-- now location-->
<div class="products-breadcrumb">
    <div class="container">
        <ul>
            <li><i class="fa fa-home" aria-hidden="true"></i><a href="@Url.Action("Index","home")">Home</a><span>|</span></li>
            <li>商品清單</li>
        </ul>
    </div>
</div>
<!--now location-->
<h2>Index</h2>


<div class="banner">
    <div class="w3l_banner_nav_left">
        <nav class="navbar nav_bottom">
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <form action="/shopping/Index" method="get">
                    <ul class="nav navbar-nav nav_1">
                        <li>
                            <button name="searching" type="submit" value="French" class="btn-default" style=" border:hidden;width:100%;font-size:20px">法國</button>

                        </li>
                        <li>
                            <button name="searching" type="submit" value="American" class="btn-default" style=" border:hidden;width:100%;font-size:20px">美國</button>
                        </li>
                        <li>
                            <button name="searching" type="submit" value="Japanese" class="btn-default" style=" border:hidden;width:100%;font-size:20px">日本</button>
                        </li>
                        <li>
                            <button name="searching" type="submit" value="Thai" class="btn-default" style=" border:hidden;width:100%;font-size:20px">東亞</button>
                        </li>
                        <li>
                            <button name="searching" type="submit" value="Other" class="btn-default" style=" border:hidden;width:100%;font-size:20px">其他</button>
                        </li>
                    </ul>
                </form>
            </div><!-- /.navbar-collapse -->
        </nav>
    </div>
    <div class="w3l_banner_nav_right">
        <div class="top-brands">
            <div class="container">
                <h3>商品清單</h3>
                @if (Model.Count() == 0)
                {
                    <p  colspan="3" style="color:#ff0000;font-size:38px">
                        沒有符合之商品
                    </p>
                }
                else
                {

                    foreach (var item in Model)
                    {
                        <div class="col-md-3 top_brand_left">
                            <div class="agile_top_brand_left_grid">
                                <div class="agile_top_brand_left_grid1">
                                    <figure>
                                        <a href="~/product/@item.itemID.ToString()">
                                            <img src="@Url.Content(item.imagePath)" style="" height="100%" width="100%" />
                                        </a>
                                        <p>@item.itemName</p>
                                        <h4>@item.itemPrice.ToString("#00 元(台幣)")</h4>
                                        @if (Session["username"] == null || string.IsNullOrWhiteSpace(Session["username"].ToString()))
                                        {
                                            <div class="snipcart-details top_brand_home_details">
                                                <a href="@Url.Action("Loginfirst", "login")">
                                                    <span class="btn btn-primary">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z" />
                                                        </svg>
                                                        Add to Cart
                                                    </span>
                                                </a>

                                            </div>
                                        }
                                        else
                                        {
                                            <div class="snipcart-details top_brand_home_details">
                                                <button name="AddtoCart" value="" class="btn btn-primary" itemid="@item.itemID" id="btnAddtoCart" onclick="AddtoCart(this)">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z" />
                                                    </svg>
                                                    Add to Cart
                                                </button>
                                            </div>
                                        }
                                    </figure>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<script type="text/javascript" defer>
    function AddtoCart(item) {
        var itemId = $(item).attr("itemid")
        var formData = new FormData();
        formData.append("ItemId", itemId)
        $.ajax({
            async: false,
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            url: '/shopping/Index',
            success: function (data) {
                if (data.Counter == null || data.Counter == 0) {
                    $('#cartItem').html();
                }
                else if (1 <= data.Counter <= 9) {

                    $('#cartItem').html('<img src="/iconimages/number' + data.Counter + '.png"/>');
                }
                else if (data.Counter >= 10) {
                    $('#cartItem').html('<img src="/iconimages/' + 'plus' + '.png"/>');
                }
            },
            error: function () {
                alert("這裡有些問題");
            }
        });



    }
</script>